.header {
    background: var(--inputs);
    border-bottom: 1px solid var(--gray-light);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 32px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    transition: color 0.2s ease;
}

.link:hover {
    color: #829b91;
}

.active {
    color: #829b91;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }

    .nav {
        gap: 24px;
    }
}

@media (max-width: 640px) {
    .header {
        background: var(--inputs);
        border-bottom: 1px solid var(--gray-light);
        width: 100%;
    }


    .container {
        padding: 0 16px;
        height: 64px;
    }

    .nav {
        gap: 16px;
    }

    .link {
        font-size: 14px;
    }
}