.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: #6c717b;
}

.filtersTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0 0;
}

.inputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    width: 250px;
    height: 36px;
    padding: 10px 12px 10px 36px; 
    border-radius: 12px;
    border: 1px solid #e6e8ec;
    background: #fff;
    font-size: 14px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #17181a;
    cursor: pointer;
}

.checkbox input {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #6e6e6e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.checkbox input:checked {
    border-color: #6c8f7a;
}

.checkbox input:checked::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #6c8f7a;
    border-radius: 50%;
}

.search {
    margin-top: 8px;
    height: 52px;
    padding: 12px;
    border-radius: 999px;
    border: none;
    background: #6c8f7a;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.search:hover {
    background: #5c7c6a;
}

.clear {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid #e6e8ec;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.clearIcon {
    width: 16px;
    height: 16px;
}

.clear:hover {
    border-color: #6c8f7a;
    color: #6c8f7a;
}